.darker-row{
	line-height: 50px;
    border: 1px solid #ccc;
    background: #f3f3f3;
}
.logo{
	margin: 10px 0px;
}
.img_logo{
	width: 100px;
}
.pacifico{
	color: #000;
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
}
.tagline{
	color: #000;
	border-left: 1px solid #ccc ;
	padding: 5px;
}
.higher-line a{
	color: #3cbcb9;
}
.higher-line .username{
	font-weight: bold;
	font-size: 20px;
}
.higher-line .user{
	float: right;
}
.top-right{
	line-height: 64px;
	text-align: right;
	padding: 10px;
}
.top-right a{
	color: red;
}
#header{
	border: 1px solid #cccccc;
}
.menu-left ul{
	list-style: none;
	margin-bottom: 0px !important;
}
.menu-left ul li{	
	float: left;
	text-align: center;
}
.menu-left ul li a{
	display: inline-block;
	width: 100px;
	line-height: 55px;
	font-size: 20px;
	color: #3cbcb9;
}
.menu-left ul li i{
	line-height: 50px;
}

.h5, h5{
	font-size: 15px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pagination li span{
	padding: 0px !important;
}
.pagination li span a{
	display: inline-block;
	padding: 6px 12px;
}
.pagination .current{
	position: relative;
    float: left;
    padding: 6px 12px !important;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination .disabled{
	position: relative;
    float: left;
    padding: 6px 12px !important;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.product_image{
	width: 100px;
	height: 66.66px;
}
.table{
	font-size: 17px;
}
.main-footer{
	background: #f3f3f3;
	margin-left: 0px;
	padding: 30px 0px;
}
